body {
	background-color: #faf1e0;
    font-family: 'Baloo Chettan 2';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    unicode-range: U+0370-03FF;
}
h1{
    color:#444444;
}
.h2, h2 {
    font-size: 2rem;
    font-family: Major Mono Display;
}
h3{
    color:#444444;
}
h4{
    color:#444444;
    font-size: 20px;
}
h5{
    font-size: 15px;
}
.filters{
    overflow: hidden;
    width: auto;
    height: 40px;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: linear;
    border: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    
}
.filters:hover{
    height:480px;
}
#Europe{    height: 25px;width: 25px;}
#North {    height: 16px;width: 16px;}
#South {    height: 10px;width: 10px;}
.areaCircle {
    height: 25px;
    width: 25px;
    background: (

        #444444
    );
    border-radius: 50%;
    display: inline-block;
	margin: 1.66%;
	transition: background 0.6s;
}

.areaCircle:hover{
    cursor: pointer;
    border-width: 3px;
    border-color: transparent;
    border-style: groove;
    transition: transform .3s ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.areaCircle.selected {
	background: #444444;
}

.dimension{
    height: 15px;
}
.area{
    height: 170px;
    background-image: url("map.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.container.Europe{
    position: absolute;
    top: 80px;
    left: 135px;
}
.container.North{
    padding-top:0;
}
.container.South{
    padding-left: 60px;
    padding-top:0;
    padding-bottom: 35px;
    margin-top:0;
}
.gender, .age{
    height: 100px;
    
}

#Female { 
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -35px;}

    #femaleIcon{
        z-index: 100;
        opacity: 80%;
        float: none;
        width: 20px;
        height: 20px;
        margin-left: -15px;
        margin-bottom: -15px;
    }
#Male   { 
    height: 60px;width: 60px;
    margin-top: -30px;
    margin-left: 0px;}

    #maleIcon{
        z-index: 100;
        opacity: 80%;
        float: none;
        width: 20px;
        height: 20px;
        margin-bottom: -23px;
        margin-left: 19px;
    }
.genderCircle{
    z-index: -1;
    background-color: #444444;
    border-radius: 50%;
    display: inline-block;
	margin: 1.66%;
	transition: background 0.6s;
}

.genderCircle:hover{
    z-index: -1;
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transition:  transform 300ms ease-in-out 0s;
    -moz-transition:  transform 300ms ease-in-out 0s;
    -o-transition:  transform 300ms ease-in-out 0s;
    transition:  transform 300ms ease-in-out 0s;
}

.genderCircle.selected {
    -webkit-transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgba(148, 148, 148, 0.899);

}
.container.Female{

    width: 40px;
    height: 90px;
    padding-left:0px;
    padding-bottom: 0;
    padding-top: 40px;
    margin-left: 0;
}
span.Female{
    color:#444444;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:232px;
    left: 83px;
  }
.container.Male{
    padding-top:40px;
    height: 90px;
    padding-left:0;
    padding-bottom: 0;
    width: 40px;
    margin-left: 0;
}
span.Male{
    color:#444444;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:232px;
    left: 187px;
  }
.col.pose{
    padding-left:3px;
    padding-right: 3px;
}

.yaw, .roll, .pitch{
    height: 140px;
}
.happy, .neutral, .sadness{
    height: 140px;
}

text{
    fill:#444444;
}

.agerect.selected{
    margin-bottom: 50px;
    fill: #444444;
}
.yawrect:hover{cursor: pointer;}

.pitchrect:hover{cursor: pointer;}
.pitchrect.selected{
    fill:#444444;
}
.rollrect:hover{cursor: pointer;}
.rollrect.selected{
    fill:#444444;
}
.happyrect:hover{cursor: pointer;}
.happyrect.selected{
    fill: #444444;
}
.neutralrect:hover{cursor: pointer;}
.neutralrect.selected{
    fill:#444444;
}
.sadnessrect:hover{cursor: pointer;}
.sadnessrect.selected{
    fill:#444444;
}
path {
    fill: none;
    stroke: #444444;
    margin-bottom: 5px;
}

.eye, .smile, .mouth{
    height: 140px;
}
#open{height: 70px;width: 70px;}
    #eyesOpenIcon{
        height: 30px;
        width: 30px;
        margin-top: 20px;
        margin-left: 20px;
    }
#closed{height: 28px;width: 28px;
        margin-top: 20px;margin-left: 100%;}
    #eyesClosedIcon{
        width: 20px;
        height: 20px;
        margin-inline-start: 3px;
    }
.eyesCircle{

    background: #444444;
    border-radius: 50%;
    display: inline-block;
	margin: 1.66%;
    transition: background 0.6s;
    
}
.eyesCircle.selected {
    -webkit-transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgba(148, 148, 148, 0.899);
}
.eyesCircle:hover{
    z-index: -1;
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transition:  transform 300ms ease-in-out 0s;
    -moz-transition:  transform 300ms ease-in-out 0s;
    -o-transition:  transform 300ms ease-in-out 0s;
    transition:  transform 300ms ease-in-out 0s;
}
.container.open{
    padding-top:60px;
    padding-left:17.5px;
    width: 40px;
    height: 140px;
    margin-left: 0;
}
span.open{
    color:#444444;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:80px;
    left: 78px;
  }
.container.closed{
    padding-top:61px;
    padding-left:6px;
    width: 40px;
    height: 90px;
    margin-left: 0;
}
span.closed{
    color:#444444;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:81px;
    left: 173px;
  }
#yes{height: 35px;width: 35px;margin-left: 10px;margin-top: 20px;}
  #smileYesIcon{
      height: 20px;
      width: 20px;
      margin-left: 7px;
      margin-top: 5px;

  }
#no{height: 70px;width: 70px;}
  #smileNoIcon{
      height: 30px;
      width: 30px;
      margin-top: 20px;
      margin-left: 20px;
  }
.smileCircle{
    height: 40px;
    width: 40px;
    background: #444444;
    border-radius: 50%;
    display: inline-block;
	margin: 1.66%;
	transition: background 0.6s;
}
.smileCircle.selected {
    -webkit-transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgba(148, 148, 148, 0.899);
}
.smileCircle:hover{
    z-index: -1;
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transition:  transform 300ms ease-in-out 0s;
    -moz-transition:  transform 300ms ease-in-out 0s;
    -o-transition:  transform 300ms ease-in-out 0s;
    transition:  transform 300ms ease-in-out 0s;
}
.container.yes{
    position: absolute;
    top:365px;
    left: 56px;
}
span.yes{
    color:#444444;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:-15px;
    left: 29px;
  }
.container.no{
    position: absolute;
    top:365px;
    left: 158px;
}
span.no{
    color:#444444;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:-15px;
    left: 30px;
  }

#openm{height: 28px;width: 28px;margin-left: 10px;margin-top: 20px;}
  #mouthOpenIcon{
    height: 20px;
    width: 20px;
    margin-left: 4px;
  }
#closedm{height: 70px;width: 70px;}
  #mouthClosedIcon{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
  }
.mouthCircle{
    height: 40px;
    width: 40px;
    background:
        #444444;
    border-radius: 50%;
    display: inline-block;
	margin: 1.66%;
	transition: background 0.6s;
}
.mouthCircle.selected {
    -webkit-transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition:  transform 300ms ease-in-out,cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgba(148, 148, 148, 0.899);
}
.mouthCircle:hover{
    z-index: -1;
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transition:  transform 300ms ease-in-out 0s;
    -moz-transition:  transform 300ms ease-in-out 0s;
    -o-transition:  transform 300ms ease-in-out 0s;
    transition:  transform 300ms ease-in-out 0s;
}
.container.openm{
    position: absolute;
    top:245px;
    left: 55px;
}
span.openm{
    color:#444444;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:-16px;
    left: 22px;
  }
.container.closedm{
    position: absolute;
    top:246px;
    left: 157px;
}
span.closedm{
    color:#444444;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:-15px;
    left: 21px;
  }

.col.show{
    float: left;
    width: 33.33%;
    padding: 5px;

}
#paintingNumber{
    color:#444444;
}
div.scroll{
    width: 800px;
    /* height:210px;overflow: scroll; */
    margin-bottom: 5px;
    margin-top: 20px;
    padding-top: 20px;
    
}
.painting{
    /* border-radius: 8px;*/

    cursor: pointer;
    float: inline-start;
    padding-left: 5px;
    margin-left: 10px;
    margin-top: 5px;
    padding-right: 5px;

}
.paintingdiv{
    /*width: 100px;
    height:100px;
    */
    padding-bottom: 20px;
    padding-right: 3px;
    float: clear;
}

.paintingdiv:hover{
    box-shadow: 0 10px 50px rgba(51, 51, 51, .25);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);

}




#showArea svg{

    width: 80vw;
    height: 30vw;
}