body {
	background-color: #336774;
    /*font-family: "Montserrat", "Avenir";*/
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(http://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19G7DQk6YvNkeg.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
h1{
    color:white;
}
h2{
    color:white;
}
h3{
    color:white;
}
h4{
    color:white;
    font-size: 20px;
}
h5{
    font-size: 15px;
}
.filters{
    width:auto;
    height: 480px;
    border:none;
    padding: 0;
    
}

.areaCircle {
    height: 18px;
    width: 18px;
    background: repeating-linear-gradient(
        45deg,
        #2E5C6E,
        white 10%
    );
    border-radius: 50%;
    display: inline-block;
	margin: 1.66%;
	transition: background 0.6s;
}
.areaCircle.selected {
	background: white;
}

.dimension{
    height: 15px;
}
.area{
    height: 170px;
    background-image: url("map.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.container.Europe{
    position: absolute;
    top: 80px;
    left: 135px;
}
.container.Norh{
    padding-top:0;
}
.container.South{
    padding-left: 60px;
    padding-top:0;
    padding-bottom: 35px;
    margin-top:0;
}
.gender, .age{
    height: 100px;
    
}
.genderCircle{
    height: 40px;
    width: 40px;
    background: repeating-linear-gradient(
        45deg,
        #2E5C6E,
        white 10%
    );
    border-radius: 50%;
    display: inline-block;
	margin: 1.66%;
	transition: background 0.6s;
}
.genderCircle.selected {
	background: white;
}
.container.Female{
    width: 40px;
    height: 90px;
    padding-left:0;
    padding-bottom: 0;
    padding-top: 40px;
    margin-left: 0;
}
span.Female{
    color:white;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:232px;
    left: 83px;
  }
.container.Male{
    padding-top:40px;
    height: 90px;
    padding-left:0;
    padding-bottom: 0;
    width: 40px;
    margin-left: 0;
}
span.Male{
    color:white;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:232px;
    left: 187px;
  }
.col.pose{
    padding-left:3px;
    padding-right: 3px;
}

.yaw, .roll, .pitch{
    height: 140px;
}
.happy, .neutral, .sadness{
    height: 140px;
}

text{
    fill:white;
}
.agerect.selected{
    fill: white;
}
.yawrect.selected{
    fill: white;
}
.pitchrect.selected{
    fill:white;
}
.rollrect.selected{
    fill:white;
}
.happyrect.selected{
    fill: white;
}
.neutralrect.selected{
    fill:white;
}
.sadnessrect.selected{
    fill:white;
}
path {
    fill: none;
    stroke: white;
    margin-bottom: 5px;
}

.eye, .smile, .mouth{
    height: 140px;
}
.eyesCircle{
    height: 40px;
    width: 40px;
    background: repeating-linear-gradient(
        45deg,
        #2E5C6E,
        white 10%
    );
    border-radius: 50%;
    display: inline-block;
	margin: 1.66%;
	transition: background 0.6s;
}
.eyesCircle.selected {
	background: white;
}
.container.open{
    padding-top:60px;
    padding-left:17.5px;
    width: 40px;
    height: 140px;
    margin-left: 0;
}
span.open{
    color:white;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:80px;
    left: 78px;
  }
.container.closed{
    padding-top:61px;
    padding-left:6px;
    width: 40px;
    height: 90px;
    margin-left: 0;
}
span.closed{
    color:white;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:81px;
    left: 173px;
  }
.smileCircle{
    height: 40px;
    width: 40px;
    background: repeating-linear-gradient(
        45deg,
        #2E5C6E,
        white 10%
    );
    border-radius: 50%;
    display: inline-block;
	margin: 1.66%;
	transition: background 0.6s;
}
.smileCircle.selected {
	background: white;
}
.container.yes{
    position: absolute;
    top:365px;
    left: 56px;
}
span.yes{
    color:white;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:-15px;
    left: 29px;
  }
.container.no{
    position: absolute;
    top:365px;
    left: 158px;
}
span.no{
    color:white;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:-15px;
    left: 30px;
  }

.mouthCircle{
    height: 40px;
    width: 40px;
    background: repeating-linear-gradient(
        45deg,
        #2E5C6E,
        white 10%
    );
    border-radius: 50%;
    display: inline-block;
	margin: 1.66%;
	transition: background 0.6s;
}
.mouthCircle.selected {
	background: white;
}
.container.openm{
    position: absolute;
    top:245px;
    left: 55px;
}
span.openm{
    color:white;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:-16px;
    left: 22px;
  }
.container.closedm{
    position: absolute;
    top:246px;
    left: 157px;
}
span.closedm{
    color:white;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:-15px;
    left: 21px;
  }

.col.show{
    float: left;
    width: 33.33%;
    padding: 5px;

}
#paintingNumber{
    color:white;
}
div.scroll{
    width: 800px;
    /* height:210px;overflow: scroll; */
    margin-bottom: 5px;
    margin-top: 20px;
    padding-top: 20px;
    
}
.painting{
    /* border-radius: 8px;*/

    cursor: pointer;
    float: inline-start;
    padding-left: 5px;
    padding-right: 5px;

}
.paintingdiv{
    /*width: 100px;
    height:100px;
    */
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 0px;
    float: clear;
}
