
.tooltip_ {
	display:none;
	position:absolute;
	border:1px solid #363636;
	background-color:rgba(207,207,207, 0.2);
	border-radius:5px;
	padding:10px;
	color:#444444;
	font-size:13px;

}

.toolpic {
	margin-top: 5px;
}